<p id="notice"><%= notice %></p>

<p>
  <strong>Length class:</strong>
  <%= @length_class.length_class_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @length_class.value %>
</p>

<%= link_to 'Edit', edit_length_class_path(@length_class) %> |
<%= link_to 'Back', length_classes_path %>
