<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
</head>
<body>
  <%= render 'layouts/header' %>
  <p class="text-center">Menu Preview </p>
  

  <div class="col-xs-6 .col-sm-4 sideleft">
    <h4><%= image_tag@product.image.medium.url %> </h4>
  </div>
  <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
          <h4>Nama Barang   :
          <%= @product.item %> </h4>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
          <h4>Tanggal disewakan      : Rp
          <%= @product.from %> </h4>
    </div>
  </div>

  </div>
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
          <h4>Harga        : Rp
          <%= @product.price %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
          <h4>Penjelasan  :
          <%= @product.description %> </h4>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
          <h4>No Handphone  :
          <%= @product.subitem %> </h4>
    </div>
  </div>

    
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
          <h4>Kota         :
          <%= @product.stadt %> </h4>
    </div>
  </div>
  

<div class="text-center">
  <%= link_to 'Kirim',products_path,class:"btn btn-default" %>
  <%= link_to 'Tambah Product',new_product_path,class:"btn btn-default" %>
</div>
</body>
</html>