
<div class="alert alert-success" role="alert" id="notice"><%= notice %></div>

  <div class="margin-left">
    <h4><%= image_tag@product.image.medium.url %> </h4>
  </div>
  
  <section>
    <span>section</span>
    <p>Notice we have put a clearfix on the div container. It is not needed in this example, but it would be if the nav element was longer than the non-floated section content.</p>
  </section>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Item  :
          <%= @product.item %> </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>from  :
          <%= @product.from %> </h4>
    </div>
  </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Until  :
          <%= @product.until %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Price  :
          <%= @product.price %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Description  :
          <%= @product.description %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>City  :
          <%= @product.stadt %> </h4>
    </div>
  </div>
  


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
