<div class="alert alert-success" role="alert" id="notice"><%= notice %></div>

  <div class="margin-left">
    <h4><%= image_tag@product.image.medium.url %> </h4>
  </div>
  
  
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Item  :
          <%= @product.item %> </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>from  :
          <%= @product.from %> </h4>
    </div>
  </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Until  :
          <%= @product.until %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Price  :
          <%= @product.price %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>Description  :
          <%= @product.description %> </h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <h4>City  :
          <%= @product.stadt %> </h4>
    </div>
  </div>
  

<div class="text-center">
  <%= link_to 'Add Product',new_product_path,class:"btn btn-default" %>
  <%= link_to 'Edit', edit_product_path(@product),class:"btn btn-default" %> 
</div>
