<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @product.item %>
</p>

<p>
  <strong>Subitem:</strong>
  <%= @product.subitem %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>From:</strong>
  <%= @product.from %>
</p>

<p>
  <strong>Until:</strong>
  <%= @product.until %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stadt:</strong>
  <%= @product.stadt %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
